
<header class="main-header active">
    <a href="./" class="logo">
        <img src="assets/img/logo-les-coteaux.svg"/>
    </a>

    <div class="responsive-menu">
        <a class="menu-item mail active" href="#" data-open="informations-main"></a>
        <a class="menu-item open-menu" href="#" data-open="menu"></a>
    </div>

    <div class="menu">
        <a class="menu-item" href="#" data-scroll="district">
            Le Quartier
        </a>
        <a class="menu-item" href="#" data-scroll="residences">
            Les Résidences
        </a>
        <a class="menu-item" href="./qui-sommes-nous.html" data-current="about">
            Qui sommes-nous ?
        </a>
        <a class="menu-item-special mail" href="#" data-scroll="informations-main"></a>
    </div>
</header>
