
<div class="content-inscription">
    <div class="closer"></div>
    <div class="content-form">
        <h2 class="inscription-title">Demande d'information</h2>
        <p class="form-description">
            Pour en savoir plus et découvrir en avant-première notre nouveau quartier
        </p>
        <form action="./server/mailSender.php" method="POST" class="inscription-form">
            <div class="content-input select residence">
                <div class="input">
                    <select name="residence" required>
                        <option value="" selected disabled>Choisissez une résidence*</option>
                        <option value="1">Alix - Caen</option>
                        <option value="2">Des Dames - Caen</option>
                        <option value="3">Agathe - Caen</option>
                    </select>
                </div>
            </div>
            <div class="content-input checkbox civility">
                <div class="input">
                    <input type="radio" name="civility" value="Mme">
                    <span class="radio"></span>
                    <span class="label">Mme</span>
                </div>
                <div class="input">
                    <input type="radio" name="civility" value="Mlle">
                    <span class="radio"></span>
                    <span class="label">Mlle</span>
                </div>
                <div class="input">
                    <input type="radio" name="civility" value="Mr">
                    <span class="radio"></span>
                    <span class="label">Mr</span>
                </div>
            </div>
            <div class="content-input personal-details">
                <div class="input">
                    <input type="text" name="lastname" value="" placeholder="Nom*" required>
                </div>
                <div class="input">
                    <input type="text" name="firstname" value="" placeholder="Prénom*" required>
                </div>
                <div class="input">
                    <input type="email" name="email" value="" placeholder="Email*" required>
                </div>
                <div class="input">
                    <input type="tel" name="phone" value="" placeholder="Téléphone*" required>
                </div>
                <div class="input">
                    <input type="text" name="cp" value="" placeholder="Code postal*" required>
                </div>
                <div class="input">
                    <input type="text" name="city" value="" placeholder="Ville*" required>
                </div>
                <!--<div class="input">
                    <input type="text" name="lot" value="" placeholder="Numéro de lot">
                </div>-->
            </div>
            <div class="residence-details">
                <div class="project-choice">
                    <div class="info">Votre projet :</div>
                    <div class="content-input content-project-choice">
                        <div class="input">
                            <input type="radio" name="project" value="Investir">
                            <span class="radio"></span>
                            <span class="label">Investir</span>
                        </div>
                        <div class="input">
                            <input type="radio" name="project" value="Habiter">
                            <span class="radio"></span>
                            <span class="label">Habiter</span>
                        </div>
                    </div>
                </div>
                <div class="project-choice">
                    <div class="info">Vous recherchez :</div>
                    <div class="content-input content-surface-choice">
                        <div class="input">
                            <input type="radio" name="surface" value="T2">
                            <span class="radio"></span>
                            <span class="label">T2</span>
                        </div>
                        <div class="input">
                            <input type="radio" name="surface" value="T3">
                            <span class="radio"></span>
                            <span class="label">T3</span>
                        </div>
                        <div class="input">
                            <input type="radio" name="surface" value="T4">
                            <span class="radio"></span>
                            <span class="label">T4</span>
                        </div>
                        <div class="input">
                            <input type="radio" name="surface" value="T5">
                            <span class="radio"></span>
                            <span class="label">T5</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-submit">
                <input type="submit" value="Valider">
                <div class="info">*champs obligatoires</div>
            </div>
            <div class="content-input commercial-proposition checkbox">
                <div class="input">
                    <input type="checkbox" name="commercial-proposition">
                    <span class="checkbox"></span>
                    <span class="label">
                        En cochant cette case, j'accepte d'être contacté pour recevoir des informations
                        et des propositions commerciales de la part des promoteurs suivants :
                        <a href="https://www.icade-immobilier.com/footer/charte-de-protection-des-donnees-personnelles" target="_blank">
                            ICADE PROMOTION</a>,
                        <a href="https://www.pozzo-immobilier.fr/mentions-legales" target="_blank">
                            POZZO PROMOTION</a>,
                        <a href="https://www.sotrim.fr/sotrim/mentions-legales" target="_blank">
                            SOTRIM PROMOTEUR</a>.
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="content-background"></div>
</div>
