<div class="section content-residences">
    <h2 class="section-title" data-target="residences">Les résidences du quartier</h2>

    <div class="residences-list"></div>

    <div id="content-residences-modal">
        <div class="residence-modal default">
            <div class="closer" data-closer></div>
            <div class="residence-modal-body"></div>
            <div class="residence-modal-footer">
                <div class="section">
                    <div class="swiper-container mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">Slide 1</div>
                            <div class="swiper-slide">Slide 2</div>
                            <div class="swiper-slide">Slide 3</div>
                            <div class="swiper-slide">Slide 4</div>
                            <div class="swiper-slide">Slide 5</div>
                            <div class="swiper-slide">Slide 6</div>
                            <div class="swiper-slide">Slide 7</div>
                            <div class="swiper-slide">Slide 8</div>
                            <div class="swiper-slide">Slide 9</div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="section content-residences">
                    <h3 class="section-title">Les résidences du quartier</h3>
                    <div class="residences-list"></div>
                </div>
                <div data-include="inscription"></div>
                <div data-include="footer"></div>
            </div>
        </div>
    </div>
</div>
