
<div class="section content-residences">
    <h2 class="section-title" data-target="residences">Les résidences du quartier</h2>

    <div class="residences-list"></div>

    <div id="content-residences-modal">
        <div class="residence-modal default">
            <div class="closer" data-closer></div>
            <div class="residence-modal-body"></div>
            <div class="residence-modal-footer">
                <div class="section content-residences">
                    <h3 class="section-title">Les résidences du quartier</h3>
                    <div class="residences-list"></div>
                </div>
                <div data-include="inscription"></div>
                <div data-include="footer"></div>
            </div>
        </div>
    </div>
</div>
