<div class="content-residence agathe-caen">
    <div class="residence-header">
        <div class="main-logo">
            <img src="./assets/img/residences/Agathe-Caen/logo-coteaux-agathe.svg" alt="Les Coteaux de l'Abbaye"
                 title="Les Coteaux de l'Abbaye"/>
        </div>
        <h2 class="residence-logo">
            <div class="pre-logo hidden-sm">
                Résidence
            </div>
            <img src="./assets/img/residences/Agathe-Caen/logo-agathe-residence.png" class="logo"
                 alt="Résidence Alix - Caen" title="Résidence Alix - Caen" width="216"/>
        </h2>
    </div>
    <div id="highlights-qualities" class="content-descriptions">
        <div class="content-inner has-bg--grey has-list">
            <h3 class="panel-title has-text-centered has-sm-text-left">
                <span>Des qualités</span> remarquables
            </h3>
            <div class="columns">
                <div class="col-left col-md-6 col-12">
                    <ul class="panel-list">
                        <li>
                            Architecture élégante
                        </li>
                        <li>
                            Résidence sécurisée répartie sur 2 halls d’entrée
                        </li>
                        <li>
                            Jardins potagers partagés bordés de haies fruitières
                        </li>
                        <li>
                            Ascenseurs pour l’accès aux appartements et au sous-sol
                        </li>
                        <li>Locaux à vélos collectifs pour la résidence</li>
                    </ul>
                </div>
                <div class="col-right col-md-6 col-12">
                    <ul class="panel-list">
                        <li>
                            Locaux à vélos privatifs pour les maisons
                        </li>
                        <li>
                            Normes PMR
                        </li>
                        <li>
                            Boites aux lettres connectées pour la résidence
                        </li>
                        <li>
                            Chauffage issu de 75% d’énergie renouvelable
                        </li>
                        <li>
                            Règlementation thermique actuelle
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-descriptions">
        <div class="content-thumbnail-description">
            <div class="entry-thumbnail">
                <div class="thumbnail">
                    <img src="./assets/img/residences/Agathe-Caen/Pers_n2@2x.png"/>
                </div>
            </div>
            <div class="entry-information">
                <div class="information">
                    <h3 class="title has-sm-text-left">
                        L’Art de connecter<br/>
                        <span class="subtitle">
                            les logements<br/> à leur environnement
                        </span>
                    </h3>
                    <p class="text">
                        L’ensemble immobilier Agathe, porte le nom de la 5ème fille de Guillaume Le Conquérant et de
                        Mathilde de Flandres. Agathe se compose de 34 logements : des appartements et des maisons,
                        nichés au coeur d’un parc paysager. Située au sud du quartier Les Coteaux de l’Abbaye, elle
                        profite d’une vue unique et dégagée sur le paysage de la vallée de l’Orne.<br/>
                        Organisée autour de la promenade de Calix et de différentes ambiances végétales, elle présente
                        un cadre de vie naturel tout en étant proche du centreville.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-descriptions">
        <div class="content-thumbnail-description d-flex flex-row sm-flex-column-reverse">
            <div class="entry-information">
                <div class="information">
                    <p class="text">
                        Les résidents partageront de magnifiques jardins vergers bordés de haies fruitières et potagères
                        offrant une séparation végétale entre les logements. Composé d’une résidence à échelle humaine
                        et de 8 maisons individuelles, l’ensemble immobilier s’intègre harmonieusement à son
                        environnement en rythmant toitures à double pente en zinc et toits terrasses pour les
                        résidences. Les matériaux choisis dialoguent, quant à eux, avec le passé du site en pierre de
                        Caen encore visible sur les bâtiments réhabilités. Enduit à la chaux de teinte blanche,
                        soubassements en béton blanc sablé et briquettes de teinte blanche soulignent l’architecture
                        élégante de la résidence.
                    </p>
                </div>
            </div>
            <div class="entry-thumbnail">
                <div class="thumbnail">
                    <img src="./assets/img/residences/Agathe-Caen/Pers_n1@2x.png"/>
                </div>
            </div>
        </div>
    </div>
    <div id="art-of-living" class="content-descriptions">
        <div class="entry-information">
            <div class="information">
                <h3 class="title">
                    L’art de vivre<br/>
                    <span class="subtitle">
                         un quotidien apaisé
                    </span>
                </h3>
                <p class="text">
                    Les 26 appartements répartis en deux halls d’entrée sont tous accessibles par les jardins partagés
                    et desservis par des paliers bénéficiant de lumière naturelle vecteur de lien social. Passé la
                    porte, ici les maitres mots sont luminosité et bien-être. La quasi-totalité des logements sont
                    traversants et bénéficient d’une triple exposition. Les ouvertures sont généreuses et donnent accès
                    à de vastes espaces extérieurs, comme une pièce en plus. Les rez-de-chaussée sont agrémentés, quant
                    à eux, de terrasses et de jardinets plein sud, bordés et séparés de plantes grimpantes et potagères.
                    Un univers paisible qui se décline dans les 8 maisons individuelles, également traversantes et
                    pourvues de jardins privatifs, protégés par des haies plantées de part et d’autre d’une clôture,
                    préservant ainsi l’intimité des résidents. Tout au long de la journée, la lumière naturelle circule
                    dans d’agréables espaces de vie. Un univers de sérénité, pour un quotidien tout en douceur à
                    partager en famille ou entre amis.
                </p>
            </div>
        </div>
    </div>
    <div id="highlights-items" class="content-descriptions">
        <div class="content-inner has-bg--lightgrey">
            <div class="panel-content">
                <div class="columns">
                    <div class="col-left col-md-6 col-12">
                        <ul class="panel-list">
                            <li>
                                26 appartements du studio au 4 pièces avec loggia, balcons, terrasse ou jardinet
                            </li>
                            <li>
                                8 maisons individuelles du 3P au 5P avec terrasse et jardin privatif
                            </li>
                            <li>
                                Parquet contrecollé
                            </li>
                            <li>
                                Carrelage dans les salles de bains et WC
                            </li>
                        </ul>
                    </div>
                    <div class="col-right col-md-6 col-12">
                        <ul class="panel-list">
                            <li>
                                Meuble vasque dans les salles de bain
                            </li>
                            <li>
                                Menuiseries aux teintes claires
                            </li>
                            <li>
                                Motorisation des volets
                            </li>
                            <li>
                                Stationnement extérieur et en sous-sol
                            </li>
                            <li>
                                Caves
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="architect-sentence" class="content-descriptions">
        <div class="content-inner has-text-centered has-bg--gold">
            <h3 class="panel-title">
                Le mot de <span>l'architecte</span>
            </h3>
            <div class="panel-content">
                <img src="./assets/img/residences/Agathe-Caen/quote-white.svg" alt="Quote" />
                <p class="panel-sentence">
                    Le projet s’intègre dans l’aménagement d’ensemble du quartier des Coteaux, sur l’ancien site du CHR
                    Clémenceau. En bordure de territoire, le projet se décompose en deux ensembles principaux. Un front
                    bâti
                    continue sur la limite nord et un ensemble de huit maisons individuelles de plain-pied et mitoyennes
                    sur
                    sa limite Ouest. Le point culminant du projet est mis en scène par la hauteur et le design en biseau
                    du
                    pignon de la résidence. À partir de ce point, les hauteurs des constructions se réduisent afin de
                    faire
                    la transition avec le contexte proche des maisons individuelles à l’Est et au Sud de la parcelle. Le
                    projet prévoit également la mise en oeuvre de matériaux sobres et pérennes dont les teintes claires
                    sont
                    en cohérences avec les constructions voisines, notamment la pierre de Caen. L’alternance entre la
                    brique
                    et l’enduit renforce le découpage vertical du bâtiment et offre un caractère à la fois personnalisé
                    et
                    urbain à l’ensemble du projet.
                </p>
                <p class="panel-author has-sm-text-centered">JBNM Architectes</p>
            </div>
        </div>
    </div>
    <div class="content-pannels">
        <div class="realised-by">
            <div class="text">
                Une réalisation de:
            </div>
            <div class="logos">
                <img src="./assets/img/about/sotrim-promo-logo@2x.png" class="logo" alt="SOTRIM LOGO"
                     title="SOTRIM LOGO"/>
                <img src="./assets/img/about/logo_pozzo@2x.png" class="logo" alt="POZZO LOGO" title="POZZO LOGO"/>
                <img src="./assets/img/about/logo_icade@2x.png" class="logo logo-xl" alt="ICADE LOGO"
                     title="ICADE LOGO" />
            </div>
        </div>
    </div>
</div>
