#goto-informations{
    position: fixed;
    bottom: 0;
    right: 2px;
    background-color: #AEC63D;
    border-radius: 9px 9px 0 0;
    height: 63px;
    width: 215px;
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

#goto-informations.active{
    visibility: visible;
    opacity: 1;
}

#goto-informations .desc{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: white;
    line-height: 16px;
    padding: 0 45px 0 20px;
    background-image: url("../img/arrow-green-right.svg");
    background-size: 15px auto;
    background-position: calc(100% - 20px) 50%;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

#goto-informations:hover .desc{
    background-position: calc(100% - 25px) 50%;
}

.homepage .presentation{
    position: relative;
    height: calc(100vh - 70px);
    background-color: #337754;
}

.homepage .presentation .navigation{
    position: absolute;
    bottom: 25px;
    left: 40px;
    display: flex;
}

.homepage .presentation .navigation .item{
    width: 15px;
    height: 25px;
    background-image: url("../img/arrow-carrousel.svg");
    background-position: 50%;
    background-size: cover;
    margin-right: 35px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;
}

.homepage .presentation .navigation .item:hover{
    transform: scale(1.05);
}

.homepage .presentation .navigation .item.prev{
    transform: rotate(180deg);
}

.homepage .presentation .navigation .item:hover.prev{
    transform: rotate(180deg) scale(1.05);
}

.homepage .presentation .content-background{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60%;
    background-image: url("../img/home/carrousel/carrousel-01@2x.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-position 0.15s ease-in-out;
    transition: background-position 0.15s ease-in-out;
}

.homepage .presentation .entry-presentation{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.homepage .presentation .entry-presentation .entry-title{
    position: relative;
    width: 600px;
    max-width: 100%;
    margin-left: calc(100% / 5);
    top: 50%;
    transform: translateY(-50%);
}

.homepage .presentation .entry-presentation .entry-title .subtitle{
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: normal;
    color: #8dc080;
    letter-spacing: 2px;
}

.homepage .presentation .entry-presentation .entry-title .title{
    display: block;
    font-size: 70px;
    color: white;
    font-weight: normal;
    line-height: 69px;
}

.homepage .content-video{
    margin-bottom: 70px;
}

.homepage .content-video .section-title{
    text-align: center;
}

.homepage .content-video .entry-video{
    position: relative;
    margin: 0 auto;
    width: 880px;
    max-width: 100%;
}

.homepage .content-video .content-iframe{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.homepage .content-video .entry-video .content-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.homepage .content-district{
    width: 100%;
    padding: 0;
}

.homepage .content-district .section-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    line-height: 48px;
}

.homepage .content-district .section-title br{
    display: none;
}

.content-district-iframes{
    padding: 0;
}

.content-district-iframes .section-title{
    text-align: center;
    margin-top: 80px;
}

#district-iframes .content-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto 50px auto;
}

#district-iframes .content-menu .menu-item{
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 9px 9px 0 0;
    border-bottom: 2px solid #8DC080;
    transition: all 0.3s;
    cursor: pointer;
}

#district-iframes .content-menu .menu-item.active{
    background-color: #8DC080;
    color: white;
}

#district-iframes .content-iframes{
    position: relative;
    display: block;
    height: calc(100vh - 20%);
    overflow: hidden;
}

#district-iframes .content-iframes{
    position: relative;
    display: block;
    overflow: hidden;
}

#district-iframes .content-iframes .content-iframe{
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

#district-iframes .content-iframes .content-iframe.active{
    display: block;
}

#district-iframes .content-iframes .content-iframe .iframe-item{
    display: block;
}

#district-iframes .content-iframes .content-iframe iframe{
    width: 100%;
    height: 100vh;
}
